.app-container {
    max-width: 1240px;
    margin: auto;
}

img {
    width: 100%;
}

.breadcrumb {
    margin: 20px 0px;
}

.product .left {
    display: flex;
    flex-direction: column;

    width: calc(100vw - var(--indent-default) - var(--indent-default));
    margin-inline: auto;
}

.product .right {
    flex-grow: 1;
}

.product-images {
    display: grid;
    gap: 8px;
    align-self: center;
    flex: 1;
}

.product-images .small-images {
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center;
    gap: 10px; */

    /* grid-template-rows: 1fr 1fr 1fr; */
}

.product-images .small-images div {
    border-radius: 20px;
}

.product-images .small-images div:hover {
    border: 1px solid rgb(0, 0, 0, 0.2);
}

.product-images .small-images div:active, .product-images .small-images div:focus {
    border: 1px solid rgb(0, 0, 0, 0.6);
}

.product-info {
    margin-top: 10px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--black-10);
}

.product-info .title {
    font-size: var(--xl-font-size);
    line-height: 32px;
    text-transform: uppercase;
}

.product-info .stars {
    margin: 12px 0px;
}

.product-info .price {
    font-size: var(--xl-font-size);
    font-weight: 700;

    margin-bottom: 20px;
}

.product-info .description {
    color: rgb(0, 0, 0, 0.6);
    line-height: 20px;
}

.cart-section {
    margin-top: 24px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.quantity-modifier {
    padding: 16px 56px;

    font-size: var(--lg-font-size);
    background-color: #F0F0F0;
    border-radius: 62px;

    position: relative;
}

.quantity-modifier i {
    padding: 2px 5px;
    border-radius: 20px;
    background-color: #F0F0F0;

    display: inline-block;
    position: absolute;
    transform: translateY(-50%);
    transition: 0.3s ease;
}

.quantity-modifier i:active {
    background-color: rgb(0, 0, 0, 0.05);
}

.quantity-modifier .minus {
    top: 50%;
    left: 6px;
}

.quantity-modifier .plus {
    top: 50%;
    right: 6px;
}

.quantity-modifier i {
    font-size: 24px;
}

.add-cart-btn {
    flex: 4;
    width: 100%;
    padding: 16px 54px;
    border-radius: 62px;
    font-size: var(--md-font-size);
    color: #fff;
    background-color: #000;
}

.add-cart-btn:hover {
    background-color: rgb(0, 0, 0, 0.8);
}

.add-cart-btn:active {
    background-color: rgb(0, 0, 0, 0.7);
}

.tabs {
    margin-top: 50px;
}

.tabs>.top {
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tabs>.top div {
    padding-bottom: 15px;
    font-size: var(--lg-font-size);

    cursor: pointer;
}

.tabs>.top .active {
    font-weight: 700;
    border-bottom: 2px solid #000;
}

.product-tab {
    margin-top: 26px;
}

.review-tab {
    margin-top: 26px;
}

.review-tab .top {
    display: flex;
    justify-content: space-between;
}

.review-tab .top .title {
    font-size: var(--xl-font-size);
    display: flex;
    align-items: center;
    gap: 5px;
}

.review-tab .top .title span {
    font-size: var(--lg-font-size);
    font-weight: 500;
    color: rgb(0, 0, 0, 0.6);
}

.review-tab .top .btns {
    display: flex;
    gap: 8px;
}

.review-tab .top .btns .filter-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.review-tab .top .btns .filter-btn i {
    font-size: 18px;
}

.review-tab .top .btns .write-btn {
    padding: 12px 16px;
    border-radius: 62px;

    color: #fff;
    font-size: var(--sm-font-size);
    background-color: #000;
}

.review-tab .top .btns .write-btn:hover {
    opacity: 0.8;
}

.review-tab .top .btns .write-btn:active {
    opacity: 0.7;
}

.review-container {
    margin-bottom: 15px;
}

.reviews {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.review-card {
    padding: 8px;
    width: calc(100% - 16px);
}

.review-card .card {
    padding: 20px;

    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 20px;
}

.review-card .author-name {
    font-size: var(--lg-font-size);
    font-weight: 700;
    line-height: 22px;
    margin: 8px 0px;
}

.review-card .comment {
    line-height: 20px;
    font-size: var(--md-font-size);
    color: rgb(0, 0, 0, 0.8);
}

.review-card .date {
    margin-top: 16px;

    font-weight: 600;
    font-size: var(--sm-font-size);
    color: rgb(0, 0, 0, 0.4);

    display: inline-block;
}

.more-review-btn-container {
    display: flex;
    justify-content: center;
}

#moreReviewBtn {
    margin-bottom: 50px;
    padding: 14px 36px;

    background-color: white;

    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 62px;
    cursor: pointer;
}

#moreReviewBtn:hover {
    text-decoration: underline;
}

#moreReviewBtn:active {
    text-decoration: underline;
    border: 1px solid rgb(0, 0, 0, 0.6);
}

.other-products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other-products .title-section {
    width: 60%;
    font-size: var(--h2-font-size);
    font-weight: 800;
    line-height: 32px;
    text-align: center;
}

.other-products .products {
    width: 100%;
    margin-top: 40px;

    display: grid;
    gap: 16px;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 298px));
}

.other-products .products .card {
    display: flex;
    flex-direction: column;
}

.other-products .products .card .title {
    font-size: var(--lg-font-size);
}


.other-products .products .card .stars {
    margin: 6px 0px;
}


.other-products .products .card .price {
    font-size: var(--xl-font-size);
    font-weight: 800;
}


#reviewModal input[type='radio'] {
    display: none;
}

#reviewModal .rating {
    display: flex;
    gap: 5px;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 10px;
}

#reviewModal .rating label {
    color: #ced6e0;
    font-size: 30px;
}

#reviewModal .rating input[type='radio']:checked~label {
    color: #fff200;
}



@media screen and (min-width: 450px) {}

@media screen and (min-width: 768px) {
    .main-content {
        /* display: flex; */
    }

    .product .left {
        width: 450px;
    }

    .product-images .small-image-container {
        width: 25%;
        padding: 3px;
    }

    .product-images .small-image-container img {
        width: 100%;
        height: 100%;
    }

    .main-content .product {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .review-card {
        width: 50%;
    }

}

@media screen and (min-width: 1240px) {
    /* .product-images {
        min-width: 444px;
    } */
}