.app-container {
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: row;
}

.info-container {
    margin-right: 10px;
    border: 1px solid red;
    flex: 70%;
    height: 500px;
}

.order-container {
    margin-inline: 10px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);

    flex: 30%;
}

.card {}