.welcome {
    background-color: #F2F0F1;
}

.welcome-container {
    display: grid;
    background-color: #F2F0F1;
}

.welcome-container .left {
    padding-inline: var(--indent-default);
}

.welcome-container .left .big-welcome-text {
    margin-top: 40px;
    font-size: var(--h1-font-size);
    font-weight: 900;
    line-height: 32px;
}

.welcome-container .left .welcome-description {
    margin-top: 20px;
    font-size: var(--md-font-size);
    line-height: 20px;
    color: rgb(0, 0, 0, 0.6);
}

.welcome-container .left .shopnow-btn {
    width: 100%;

    margin-top: 24px;
    padding: 16px 54px;

    font-size: var(--md-font-size);
    color: white;

    border: none;
    border-radius: 62px;
    background-color: black;
    transition: 0.3s ease;
    cursor: pointer;
}

.welcome-container .left button:active {
    background-color: rgb(67, 67, 67);
}

.welcome-container .left button:hover {
    background-color: rgb(67, 67, 67);
}

.welcome-container .left .figure-list {

    margin-top: 20px;
    padding-inline: 20px;

    gap: 12px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "f1 f2"
        "f3 f3";
}

.welcome-container .right img {
    /* overflow: hidden; */
    height: 448px;
    width: 100%;
    object-fit: cover;
}

.figure-list .figure:nth-child(1) {
    grid-area: f1;
    padding-right: 15px;
    border-right: 1px solid rgb(0, 0, 0, 0.2);
}

.figure-list .figure:nth-child(2) {
    grid-area: f2;
    padding-inline: 15px;
}

.figure-list .figure:nth-child(3) {
    grid-area: f3;
    text-align: center;
}

.figure-title {
    font-size: var(--h4-font-size);
    font-weight: 600;
}

.figure-description {
    font-size: var(--sm-font-size);
    color: rgb(0, 0, 0, 0.6);
}

.welcome-container .right {
    height: 448px;
}

.brand-list {
    background-color: black;
}

.brand-list-container {
    width: 100%;
    max-width: 1240px;

    margin-inline: auto;
    padding: 40px 0px;

    display: flex;
    justify-content: space-around;
    gap: 20px 10px;
    flex-wrap: wrap;
    align-items: center;

}

.brand-list-container img {
    display: inline-block;
}

.new-arrival {
    padding-inline: var(--indent-default);
    max-width: 1240px;
    margin-inline: auto;
}

.new-arrival .section-title {
    padding-top: 50px;
    padding-bottom: 32px;
    font-size: var(--h2-font-size);
    font-weight: 800;
    text-align: center;
}

.btn-view-all-container {
    padding-top: 24px;

    display: flex;
    justify-content: center;
}

.btn-view-all-container a {
    width: 100%;
    padding: 16px 80px;

    text-align: center;
    font-size: var(--md-font-size);

    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 62px;
    background-color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-view-all-container a:hover, .btn-view-all-container a:active {
    text-decoration: underline;
    border: 1px solid rgb(0, 0, 0, 0.5);
}

.delimeter {
    margin-inline: var(--indent-default);
    margin-top: 40px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
}

.card {
    width: 50%;
    padding: 3px;
    cursor: pointer;
}

.card img {
    width: 100%;
    border-radius: 20px;
    max-height: 252px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.card .title {
    font-size: var(--md-font-size);
}

.card .stars {
    margin: 6px 0px;
}

.card .price {
    font-size: var(--lg-font-size);
    font-weight: 800;
}

.card .stars {
    font-size: var(--sm-font-size);
}

.top-selling {
    padding-inline: var(--indent-default);
    max-width: 1240px;
    margin-inline: auto;
}

.top-selling .section-title {

    padding-top: 40px;
    padding-bottom: 32px;

    font-size: var(--h2-font-size);
    font-weight: 800;

    text-align: center;
}

.browse-style {
    margin-top: 50px;
    margin-inline: auto;
    padding-inline: 16px;
}

.browse-style-container {
    background-color: #F0F0F0;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.browse-style-container .title-container {
    padding-top: 40px;
    padding-bottom: 28px;
}

.browse-style-container .title-container .section-title {
    /* font-size: 48px; */
    padding-inline: 56px;

    font-size: var(--h2-font-size);
    font-weight: 800;

    text-align: center;
}

.styles {
    margin-inline: auto;
    padding-inline: 24px;
    padding-bottom: 24px;
    gap: 16px;
    display: grid;
    grid-template-rows: 190px 190px 190px 190px;
    grid-template-columns: repeat(auto-fit, minmax(0, 428px));
    grid-template-areas:
        "casual"
        "formal"
        "party"
        "gym";
}

.styles .style-card {
    max-width: 428px;
    user-select: none;
    cursor: pointer;
}

.styles .style-card:hover {
    box-shadow: 0px 0px 8px;
}

.styles .style-card:nth-child(1) {
    grid-area: casual;
}

.styles .style-card:nth-child(2) {
    grid-area: formal;
}

.styles .style-card:nth-child(3) {
    grid-area: party;
}

.styles .style-card:nth-child(4) {
    grid-area: gym;
}

.styles .style-card {
    background-color: white;
}

.style-card {
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: end;
}

.style-card .style-title {
    font-size: var(--h4-font-size);

    top: 16px;
    left: 24px;
    position: absolute;
}

.style-card img {
    width: 100%;
    height: 190px;
    border-radius: 20px;
    object-fit: cover;
}

.testimonial {
    margin-inline: auto;
    overflow-x: hidden;
    padding-inline: 16px;
}

.testimonial .title-container {
    padding-top: 50px;
    padding-bottom: 24px;

    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.testimonial .title-container .section-title {
    font-size: var(--h2-font-size);
    font-weight: 800;
}

.testimonial-cards {
    display: flex;
}

.testimonial-card-container {
    width: calc(100% / 3);
    padding-inline: 5px;
}

.testimonial-card {
    padding: 24px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    height: 100%;
}

.testimonial-card .author-name {
    font-size: var(--lg-font-size);
    font-weight: 700;
    line-height: 22px;
    margin: 8px 0px;
}

.testimonial-card .comment {
    line-height: 20px;
    font-size: var(--md-font-size);
    color: rgb(0, 0, 0, 0.6);
}

.testimonial-icon-list {
    display: flex;
    align-items: center;
    gap: 16px;
}

.testimonial-icon-list i {
    cursor: pointer;
}



@media screen and (min-width: 450px) {
    .welcome-container .right img {
        object-fit: contain;
    }

    .style-card img {
        object-fit: contain;
    }
}


@media screen and (min-width: 768px) {
    .card {
        width: 25%;
        padding: 4px;
    }

    .welcome-container {
        min-height: 663px;
        grid-template-columns: 1fr 1fr;
    }

    .welcome-container .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .welcome-container .right img {
        min-height: 663px;
        object-fit: cover;
    }

    .browse-style {
        max-width: 1240px;
    }

    .browse-style-container {
        display: block;
    }

    .styles {
        gap: 16px;
        display: grid;
        grid-template-rows: 289px 289px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "casual casual formal formal formal"
            "party party party gym gym";
    }

    .styles .style-card {
        max-width: none;
    }

    .style-card img {
        height: 290px;
        object-fit: cover;
    }
}


@media screen and (min-width: 1240px) {
    .card {
        width: 25%;
        padding: 5px;
    }

    .welcome-container {
        margin-inline: auto;
        max-width: 1240px;
    }

    .welcome-container .left {
        align-items: self-start;
        padding: 0;
    }

    .welcome-container .left .big-welcome-text {
        margin: 0px;
        line-height: 64px;
    }

    .welcome-container .left .welcome-description {
        margin-top: 32px;
        line-height: 22px;
    }

    .welcome-container .left .shopnow-btn {
        margin-top: 32px;
        width: auto;
    }

    .welcome-container .left .figure-list {
        margin-top: 48px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "f1 f2 f3";
    }

    .figure-list .figure:nth-child(2) {
        border-right: 1px solid rgb(0, 0, 0, 0.2);
    }

    .figure-list .figure:nth-child(3) {
        grid-area: f3;
        text-align: left;
        padding-left: 15px;
    }
}


@media screen and (min-width: 1440px) {
    .testimonial {
        max-width: 1440px;
        padding-inline: 100px;
    }

    .welcome-container .right img {
        object-fit: none;
    }
}