:root {
    --indent-default: 16px;

    --h1-font-size: 36px;
    --h2-font-size: 32px;
    --h3-font-size: 28px;
    --h4-font-size: 24px;
    --xl-font-size: 20px;
    --lg-font-size: 16px;
    --md-font-size: 14px;
    --sm-font-size: 12px;

    --red-color: #ff3838;
    --black-10: rgb(0, 0, 0, 0.1);
}

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #000000;
    text-decoration: none;
    list-style: none;
    outline: none;
    transition: 0.2s ease;
}

button, input {
    border: none;
}

.root-container {
    max-width: 450px;
    margin-inline: auto;
}

body {
    overflow-x: hidden;
}

header {
    height: 34px;
    font-size: var(--sm-font-size);
    color: white;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

header a {
    color: white;
    text-decoration: underline;
}

nav {
    height: 64px;
    background-color: white;
    /* max-width: min(100%, 1240px); */
    width: 100%;
    padding-inline: 16px;
    margin-inline: auto;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-areas: "hamburger brand icon";
    display: grid;
}

.hamburger {
    grid-area: hamburger;
    display: flex;
    align-items: center;
    width: 32px;
}

.logo {
    grid-area: brand;
    display: flex;
    align-items: center;
}

.logo a {
    color: #000000;

    font-size: var(--h2-font-size);
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
}

.nav-tab-list {
    font-size: var(--lg-font-size);

    justify-content: start;
    align-self: center;
    gap: 24px;

    display: none;
}

.nav-tab-list a {
    display: inline-block;
    padding: 8px 4px;
    cursor: pointer;
}

.nav-tab-list a:hover {
    text-decoration: underline;
}

.search-bar {
    justify-content: center;
    align-items: center;

    position: relative;

    display: none;
    grid-area: search;
}

.search-bar i {
    position: absolute;
    top: 9px;
    left: 15px;
}

.search-bar input {
    height: 35px;
    width: 100%;

    padding-left: 52px;
    padding-right: 20px;

    border: none;
    border-radius: 62px;

    font-size: var(--md-font-size);
    background-color: #F0F0F0;
    outline: none;
}

.icon-list {
    grid-area: icon;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 12px;
}

#searchFormMobile {
    display: none;
    position: relative;
    margin: 0px var(--indent-default) 5px var(--indent-default);
}

#logoutForm {
    display: none;
}

.search-result-container {
    position: absolute;
    top: 100%;
    left: 0px;
    margin-top: 2px;
    width: calc(100%);
    background-color: white;
    z-index: 10;
    border-radius: 5px;
    padding: 5px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1), 5px 5px 10px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.1);

    display: none;
}

.search-results {
    padding-left: 0px;
}

.search-results .itemResult {
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.search-results .more-results {
    padding: 5px;
    font-size: var(--md-font-size);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.05);
}

#moreResultsBtn {
    width: 100%;
    height: 100%;
    background: none;
    cursor: pointer;
}

#moreResultsBtn:hover {

    text-decoration: underline;
}

.search-results .itemResult .itemLink {
    display: flex;
    gap: 10px;
}

.search-results .itemResult .image img {
    height: 50px;
    width: 50px;
}

.search-results .itemResult .info .title {
    font-size: var(--md-font-size);
    font-weight: 700;

}

.search-results .itemResult .info .price {
    font-size: var(--sm-font-size);
    font-weight: 600;
    color: var(--red-color);
}

.search-results .itemResult:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.search-results .no-results {
    width: 100%;
    height: 100%;
    padding: 10px 5px;
    text-align: center;
}

.dropdown {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.dropdown .dropdown-btn {
    padding: 0px;
    background: none;
    cursor: pointer;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 100%;
    width: 150px;
    transform: translateX(-200%);
    padding: 0px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 8px rgb(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    z-index: 100;

    cursor: pointer;
}

.dropdown .dropdown-menu .dropdown-item {
    padding: 10px;
    font-size: var(--sm-font-size);
}

.dropdown .dropdown-menu .dropdown-item:hover {
    color: white;
    background-color: black;
}

.dropdown-item.logout-btn {
    border-radius: 0px 0px 10px 10px;
}

.dropdown-item.logout-btn:hover {
    background-color: var(--red-color) !important;
}

.dropdown .dropdown-menu.active {
    opacity: 1;
    pointer-events: all;
    transform: translateX(-100%);
}

.breadcrumb a {
    text-decoration: underline;
    line-height: 20px;
    cursor: pointer;
}

.breadcrumb a:hover {
    color: rgb(0, 0, 0, 0.7);
    text-decoration: none;
}


/* ==================== FOOTER ==================== */

footer {
    margin-top: 185px;
    padding-bottom: 30px;
    background-color: #F0F0F0;
}

.footer-container {

    margin-inline: auto;
}


.subscription {
    height: 50%;
    width: calc(100% - 32px);
    margin-inline: auto;

    padding: 24px;
    border-radius: 20px;
    background-color: black;

    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.subscription h1 {
    line-height: 35px;
    font-size: var(--h2-font-size);
    color: white;
}

.subscription-form-container input {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 48px;
    padding-right: 16px;

    font-size: var(--md-font-size);

    border: none;
    border-radius: 62px;

    outline: none;
}

.subscription-form-container {
    position: relative;
}

.subscription-form-container i {
    position: absolute;
    top: 13px;
    left: 16px;
}

.subscription-form-container button {
    width: 100%;
    margin-top: 12px;
    padding-top: 12px;
    padding-bottom: 12px;

    font-size: var(--md-font-size);
    font-weight: 500;
    color: black;
    background-color: white;

    border: none;
    border-radius: 62px;

    cursor: pointer;
    transition: 0.3s ease;
}



.subscription-form-container button:active {
    background-color: rgb(212, 212, 212);
}

.footer-infomation {
    margin-top: -110px;
    padding-inline: 16px;

    display: grid;
    gap: 24px;
}

.footer-infomation .left h2 {
    font-size: var(--h2-font-size);
    font-weight: 800;
}

.footer-infomation .left p {
    padding-top: 14px;

    color: rgb(0, 0, 0, 0.6);
    font-size: var(--md-font-size);
}

.footer-infomation .social-media-icons {
    padding-top: 20px;

    display: flex;
    gap: 12px;
}

.social-media-icons .round-badge {
    height: 28px;
    width: 28px;

    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 14px;
}

.footer-infomation .info-container {
    display: grid;
    gap: 24px 12px;
    grid-template-columns: 1fr 1fr;
}

.info-list .info-title {
    padding-bottom: 10px;

    font-size: var(--lg-font-size);
    font-weight: 600;
}

.info-list .link a {
    color: rgb(0, 0, 0, 0.6);
    font-size: var(--sm-font-size);
    line-height: 2.5;
    display: inline-block;

    text-decoration: none;
}

.info-list .link a:active {
    text-decoration: underline;
}


.footer-delimeter {
    /* margin-top: 50px;
    margin-bottom: 25px; */

    margin-top: 40px;
}

.rights-description {
    /* height: 132px; */
    padding-top: 16px;

    font-size: var(--md-font-size);
    color: rgb(0, 0, 0, 0.6);
    text-align: center;
}

.payment-badges {
    padding-top: 16px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.badge {
    height: 26px;
    width: 40px;

    background-color: white;

    border: 1px solid #D6DCE5;

    border-radius: 5px;
}

.footer-infomation .left p {
    color: rgb(0, 0, 0, 0.6);
    font-size: var(--sm-font-size);
    line-height: 22px;
}

.star-ic {
    color: #FFC633;
}

.verify-ic {
    color: #01AB31;
}


#toastContainer {
    position: fixed;
    margin-top: 10px;
    margin-right: 10px;
    top: 0px;
    right: 0px;
    pointer-events: none;

    z-index: 1000;
}

.toast {
    display: flex;
    justify-items: center;
    background-color: white;

    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 300px;
    height: 80px;

    margin-bottom: 10px;

    position: relative;
    right: -110%;
}

.toast.show {
    right: 0%;
}

.toast::after {
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: #3ae374;
    border-radius: 20px;
    display: block;
    animation: progress-animation 3s linear forwards;
}


#modalContainer, #profileModalContainer {
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
}

#modalContainer:has(.modal.show), #profileModalContainer:has(.modal.show) {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.1);
    pointer-events: all;
}


.modal {
    position: relative;
    width: min(90vw, 700px);
    margin-top: 10vh;
    margin-inline: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #FFFFFF;
    z-index: 100;

    transform: translateY(-20%);
    opacity: 0;
}

.modal.show {
    transform: translateY(0%);
    opacity: 1;
}

.modal-close {
    position: absolute;
    top: 12px;
    right: 16px;
}

.modal-content {
    margin-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    max-height: 60vh;
    overflow-y: auto;
}

.modal-content textarea {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #D1D1D1;
    resize: none;
    padding: 12px;
    width: 100%;
    height: 150px;
    font-size: var(--md-font-size);
}

.modal-action {
    display: flex;
    gap: 25px;
    margin-top: 10px;
    padding-inline: 20px;
}

.modal-close {
    cursor: pointer;
}

.modal-tabs {
    margin-top: 10px;
    display: flex;
    user-select: none;
    overflow-x: auto;
}

.modal-tab-item {
    flex-shrink: 0;
    flex-grow: 1;

    min-width: 120px;
    /* max-width: 290px; */
    padding: 4px 12px 8px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    font-size: var(--md-font-size);
    text-align: center;

    cursor: pointer;
}

.modal-tab-item:hover {
    font-weight: 500;
    border-bottom: 1.4px solid rgba(0, 0, 0, 0.6);
}

.modal-tab-item.selected {
    font-weight: 700;
    border-bottom: 2px solid black;
}

.w-50 {
    width: 50%;
}

.btn {
    padding: 10px 0px;
    font-size: var(--md-font-size);
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.btn:active {
    opacity: 0.6;
}

.btn-primary {
    background-color: #4F4F4F;
    color: white;
}

.btn-secondary {
    background-color: white;
    color: #4F4F4F;
    border: 1px solid #4F4F4F;
}

.disabled {
    display: none;
}

#cartIcon {
    position: relative;
}

#numInCart {
    font-size: 10px;
    position: absolute;
    top: -40%;
    right: -40%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: white;
    background-color: #ff3838;
    display: flex;
    justify-content: center;
    align-items: center;

}



@keyframes progress-animation {
    to {
        width: 0%;
    }
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.mb-4 {
    margin-bottom: 12px;
}

.input {
    padding: 12px 16px;
    width: 100%;

    color: rgb(0, 0, 0);
    font-size: var(--md-font-size);

    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 6px;

    background-color: #fcfcfc;
}

.input.disabled {
    background-color: #f1f1f1;
    display: block !important;
}


.toast-icon {
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-size: 30px;
}

.toast-content {
    flex-grow: 1;
    margin-left: 10px;
    margin-top: 8px;
}

.toast-title {
    font-size: var(--md-font-size);
    font-weight: 500;
}

.toast-message {
    font-size: var(--sm-font-size);
}

.toast-close {
    position: absolute;
    top: 5px;
    right: 8px;
}


@media screen and (min-width:450px) {
    header {
        font-size: var(--md-font-size);
    }

    .footer-infomation {
        margin-top: -90px;
    }
}


@media screen and (min-width: 768px) {
    .root-container {
        max-width: none;
    }

    header {
        height: 38px;
    }

    .subscription {
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .footer-infomation {
        margin-top: -50px;
    }

}


@media screen and (min-width: 1240px) {
    :root {
        --h1-font-size: 64px;
        --h2-font-size: 48px;
        --h3-font-size: 44px;
        --h4-font-size: 40px;
        --xl-font-size: 24px;
        --lg-font-size: 20px;
        --md-font-size: 16px;
        --sm-font-size: 14px;
    }

    #searchFormMobile {
        display: none;
    }

    .search-bar input {
        height: 48px;
    }

    .search-bar i {
        top: 37px;
    }

    nav {
        max-width: 1240px;
        margin-inline: auto;

        height: 96px;
        grid-template-columns: 2fr 4fr 5fr 1fr;
        grid-template-areas: "brand logo search icon";
        gap: 40px;
    }

    .hamburger {
        display: none;
    }

    .nav-tab-list {
        display: flex;
    }

    .search-bar {
        display: flex;
    }

    .icon-list #icon-search {
        display: none;
    }

    .subscription {
        padding: 36px 64px;
    }

    .subscription h1 {
        font-size: var(--h4-font-size);
        line-height: 45px;
    }

    .footer-container {
        max-width: 1240px;
    }

    .footer-infomation {
        display: flex;
        gap: 100px;
    }

    .footer-infomation .left {
        flex: 3;
    }

    .footer-infomation .right {
        flex: 9;
    }


    .footer-infomation .info-container {
        display: flex;
        justify-content: space-between;
    }

    .search-result-container {
        top: calc(100% - 23px);
    }
}

@media screen and (min-width: 1440px) {
    :root {
        --indent-default: 100px;
    }
}