.main-title {
    font-size: var(--h4-font-size);
}

label {
    margin-bottom: 5px;
    font-size: var(--md-font-size);
    display: none;
}

.forgot-password-form {
    margin-top: 24px;
    margin-bottom: 20px;
}

.other-actions {
    text-align: center;
}

.other-actions a {
    text-decoration: underline;
}

.other-actions a:hover {
    color: rgb(0, 0, 0, 0.8);
}


@media screen and (min-width: 768px) {
    label {
        display: block;
    }
}