img {
    width: 100%;
}


.app-container {
    padding-inline: var(--indent-default);
}

.breadcrumb {
    margin: 20px 0px;
}

.search-area .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-area .top .right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.search-area .top .right div {
    font-size: var(--md-font-size);
    color: rgb(0, 0, 0, 0.6);
}

.search-area .top .right span {
    display: none;
}

.search-area .top .main-title {
    font-size: var(--h4-font-size);
}

.search-area .top .right .filter-btn {
    width: 40px;
    height: 40px;

    background-color: #F0F0F0;
    border-radius: 62px;
}

.search-area .top .right .filter-btn i {
    font-size: 18px;
}

.search-area .items {
    padding-bottom: 24px;
    margin-top: 30px;

    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

.card {
    padding: 5px;
    width: calc(50% - 10px);
}

.card .title {
    font-size: var(--lg-font-size);
}

.card .stars {
    margin: 6px 0px;
}

.card .price {
    font-size: var(--xl-font-size);
    font-weight: 800;
}

.pagination {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

.pagination a {
    display: inline-block;
}

.pagination span {
    color: rgb(0, 0, 0, 0.6);
    font-size: var(--md-font-size);
}

.pagination .page-num {
    width: 40px;
    height: 40px;


    text-align: center;

    padding: 10px 18px;
    border-radius: 9px;

    position: relative;
}

.pagination .page-num span {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.pagination a:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

.pagination .prev, .pagination .next {
    padding: 8px 14px;
    font-size: var(--md-font-size);
    font-weight: 500;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 8px;
}

.filter-sidebar, .filter-modal, .overlay {
    display: none;
}

.filter-sidebar {
    padding: 20px 24px;

    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 20px;
}

.filter-sidebar .top {

    width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--black-10);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-sidebar .top .title {
    font-size: var(--lg-font-size);
    font-weight: 600;
}

.filter-sidebar .top i {
    font-size: var(--xl-font-size);
    color: rgb(0, 0, 0, 0.4);
}

.filter-sidebar .bottom .types {
    margin-top: 24px;
    padding-bottom: 24px;
    padding-inline: 0px;
    border-bottom: 1px solid var(--black-10);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-sidebar .bottom .types li {
    display: flex;
    justify-content: space-between;
}

.filter-sidebar .bottom .types li label {
    font-size: var(--md-font-size);
    color: rgb(0, 0, 0, 0.6);
}

.filter-sidebar .bottom .price {
    margin-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--black-10);
}

.filter-sidebar .bottom .styles {
    margin: 24px 0px;
}

.filter-sidebar .bottom .styles ul {
    margin-top: 20px;
    padding-inline: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-sidebar .bottom .styles ul li {
    display: flex;
    justify-content: space-between;
}


.filter-sidebar .bottom .styles .title {
    font-size: var(--lg-font-size);
    font-weight: 700;
}

.filter-sidebar .bottom .apply-btn {
    width: 100%;
    padding: 16px 54px;
    background-color: #000;
    color: #fff;
    font-size: var(--md-font-size);
    border-radius: 62px;
}


.filter-modal {
    width: 100vw;
    height: calc(100vh - 98px);

    padding: 20px;
    background-color: #fff;

    border-top-left-radius: 32px;
    border-top-right-radius: 32px;

    top: 98px;
    left: 0px;
    position: fixed;

    overflow-y: auto;

    z-index: 20;
}

.overlay {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
}

.filter-modal .bottom {
    /* overflow-y: auto; */
}

.filter-modal .top {
    padding-bottom: 16px;

    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-modal .top .title {
    font-size: var(--xl-font-size);
}

.filter-modal .top .close-btn {
    /* width: 24px;
    height: 24px; */
    padding: 0px;
    background-color: #fff;

}

.filter-modal .top .close-btn i {
    font-size: 32px;
    color: rgb(0, 0, 0, 0.6);
}


.filter-modal .types {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-modal .price {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.filter-modal .price .title {
    font-size: var(--xl-font-size);
    font-weight: 700;
}

.filter-modal .options .title {
    margin: 20px 0px;
    font-size: var(--xl-font-size);
    font-weight: 700;
}

.filter-modal .options .styles {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-modal .aplly-btn {
    margin-top: 20px;
    padding: 16px 56px;

    width: 100%;

    font-size: var(--md-font-size);
    color: #fff;

    border-radius: 62px;

    background-color: black;

    transition: 0.3s ease;
}

.filter-modal .aplly-btn:hover {
    background-color: rgb(0, 0, 0, 0.8);
}

.filter-modal .aplly-btn:active {
    background-color: rgb(0, 0, 0, 0.6);
}


@media screen and (min-width: 450px) {
    .card {
        max-width: 230px;
    }
}


@media screen and (min-width: 768px) {
    .main-content {
        display: grid;
        gap: 20px;
        grid-template-columns: 3fr 9fr;
    }

    .filter-sidebar {
        display: block;
    }
}

@media screen and (min-width: 1240px) {
    .card {
        max-width: 290px;
    }

    .search-area .items {
        grid-template-columns: repeat(auto-fit, minmax(200px, 290px));
    }
}