img {
    width: 100%;
}

.disabled {
    opacity: 0.6;
    pointer-events: none;
}

.app-container {
    max-width: 1240px;
    margin-inline: auto;
    padding-inline: 10px;
}

.breadcrumb {
    margin: 20px 0px;
}

.price-slider {
    position: relative;
    margin-top: 48px;
    margin-inline: auto;
    width: 100%;
    height: 6px;
    background-color: #dfe4ea;
    user-select: none;
    transition: none;
}

.slider-range {
    position: absolute;
    height: 6px;
    left: 0;
    right: 0;
    background-color: #000;
    transition: none;
}

.price-slider input[type='range'] {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    appearance: none;
    outline: none;
    background: none;
    pointer-events: none;
}

.price-slider input[type='range']::-webkit-slider-thumb {
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #000;
    cursor: pointer;
    pointer-events: auto;
}

.price-slider input[type='range']::-webkit-slider-thumb:hover {
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.4);
}

.price-slider .tooltip {
    padding: 5px;
    font-size: var(--md-font-size);
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
    opacity: 0.9;
    border-radius: 8px;
    user-select: none;
    transform: translate(-50%, -100%);
    transition: opacity 0.1s ease;
    opacity: 1;
}

.price-slider .tooltip.hide {
    opacity: 0;
}

.min-tooltip {
    position: absolute;
    top: -200%;
    left: 20%;
}

.max-tooltip {
    position: absolute;
    top: -200%;
    left: 80%;
}

.price-input-container {
    display: flex;
    margin-top: 25px;
    gap: 15px;
}

.price-input {
    width: 50%;
    display: flex;
    margin: 3px;
}

.price-input .addon {
    padding: 8px 12px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 6px 0px 0px 6px;
    font-size: var(--md-font-size);
    font-weight: 500;
    background-color: rgb(0, 0, 0, 0.05);
}

.price-input input[type="number"] {
    width: 100%;
    padding-inline: 10px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 0px 6px 6px 0px;
    font-size: var(--md-font-size);
    margin-left: -2px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0px;
}

.search-area .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-area .top .right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.search-area .top .right div {
    font-size: var(--sm-font-size);
    color: rgb(0, 0, 0, 0.6);
}

.search-area .top .right span {
    display: none;
}

.search-area .top .main-title {
    font-size: var(--h4-font-size);
}

.search-area .top .right .filter-btn {
    width: 36px;
    height: 36px;

    background-color: #F0F0F0;
    border-radius: 62px;
}

.search-area .top .right .filter-btn i {
    font-size: var(--lg-font-size);
}

.search-area .items {
    padding-bottom: 24px;
    margin-top: 30px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);

    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
}

.card {
    padding: 3px;
    cursor: pointer;
}

.card img {
    border-radius: 20px;
    max-height: 290px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.card .title {
    margin-top: 3px;
    font-size: var(--md-font-size);
}

.card .stars {
    margin: 6px 0px;
    font-size: var(--sm-font-size);
}

.card .price {
    font-size: var(--lg-font-size);
    font-weight: 700;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

.pagination a {
    display: inline-block;
    cursor: pointer;
}

.pagination a:hover {
    background-color: rgb(0, 0, 0, 0.05);
}

.pagination a.active {
    background-color: rgb(0, 0, 0, 0.15) !important;
}

.pagination span {
    color: rgb(0, 0, 0, 0.6);
    font-size: var(--md-font-size);
}

.pagination .page-num {
    width: 34px;
    height: 34px;

    text-align: center;
    padding: 10px 18px;
    border-radius: 9px;
    position: relative;
}

.pagination div {
    display: flex;
    gap: 2px;
}

.pagination .page-num span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pagination .prev, .pagination .next {
    padding: 8px 14px;
    font-size: var(--md-font-size);
    font-weight: 500;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 8px;
}

.filter-sidebar {
    display: none;
}

.filter-sidebar {
    padding: 20px 24px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 20px;
}



.filter-sidebar .top {

    width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--black-10);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-sidebar .top .title {
    font-size: var(--lg-font-size);
    font-weight: 600;
}

.filter-sidebar .top i {
    font-size: var(--xl-font-size);
    color: rgb(0, 0, 0, 0.4);
}

.filter-sidebar .bottom .types {
    margin-top: 24px;
    padding-bottom: 24px;
    padding-inline: 0px;
    border-bottom: 1px solid var(--black-10);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-sidebar .bottom .types li {
    display: flex;
    justify-content: space-between;
}

.filter-sidebar .bottom .types li label {
    font-size: var(--md-font-size);
    color: rgb(0, 0, 0, 0.6);
}

.filter-sidebar .bottom .price {
    margin-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--black-10);
    font-size: var(--lg-font-size);
    font-weight: 700;
}

.styles {
    margin: 12px 0px;
}

.styles ul {
    margin-top: 10px;
    padding-inline: 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.styles ul li {
    display: flex;
    justify-content: space-between;
}

.styles .title {
    font-size: var(--lg-font-size);
    font-weight: 700;
}

.filter-sidebar .bottom .apply-btn {
    width: 100%;
    padding: 16px 54px;
    background-color: #000;
    color: #fff;
    font-size: var(--md-font-size);
    border-radius: 62px;
    cursor: pointer;
}

.filter-sidebar .bottom .apply-btn:hover {
    background-color: rgb(0, 0, 0, 0.8);
}

.filter-sidebar .bottom .apply-btn:active {
    background-color: rgb(0, 0, 0, 0.7);
}

.style-selection li {
    padding: 10px 0px;
}

.style-selection label, .filter-sidebar .style-selection input {
    pointer-events: none;
}

.filter-modal {
    display: block;

    max-width: 450px;
    width: 100%;
    height: 0px;
    padding: 0px;
    background-color: #fff;
    margin-inline: auto;
    border-radius: 32px 32px 0px 0px;
    top: 98px;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);

    opacity: 0;
    pointer-events: none;

    overflow-y: hidden;
    z-index: 20;
}

.filter-modal.show {
    height: calc(100vh - 98px);
    padding: 12px;
    opacity: 1;
    pointer-events: all;
}

.overlay {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.filter-modal .bottom {
    overflow-y: auto;
    height: calc(100% - 100px);
    padding: 2px 10px;
}

.filter-modal .top {
    padding-bottom: 16px;
    padding-left: 10px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-modal .top .title {
    font-size: var(--xl-font-size);
}

.filter-modal .top .close-btn {
    padding: 0px;
    background-color: #fff;

}

.filter-modal .top .close-btn i {
    font-size: 32px;
    color: rgb(0, 0, 0, 0.6);
}


.filter-modal .types {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-modal .price {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.filter-modal .price .title {
    font-size: var(--xl-font-size);
    font-weight: 700;
}

.filter-modal .options .title {
    margin: 20px 0px 0px 0px;
    font-size: var(--xl-font-size);
    font-weight: 700;
}

.filter-modal .options .styles {
    display: flex;
    flex-direction: column;
}

.filter-modal .aplly-btn {
    margin-top: 5px;
    padding: 16px 0px;

    width: 100%;

    font-size: var(--md-font-size);
    color: #fff;

    border-radius: 62px;

    background-color: black;

    transition: 0.3s ease;
}

.filter-modal .aplly-btn:hover {
    background-color: rgb(0, 0, 0, 0.8);
}

.filter-modal .aplly-btn:active {
    background-color: rgb(0, 0, 0, 0.6);
}



@media screen and (min-width: 450px) {}


@media screen and (min-width: 768px) {
    .main-content {
        display: grid;
        gap: 20px;
        grid-template-columns: 220px auto;
    }

    .filter-btn {
        display: none;
    }

    .filter-sidebar {
        display: block;
    }

    .card {
        padding: 4px;
    }
}

@media screen and (min-width: 1240px) {
    .card {
        padding: 5px;
    }

    .main-content {
        display: grid;
        gap: 20px;
        grid-template-columns: 290px auto;
    }

}