/* START OF BASE STYLES */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    outline: none;
    border: none;
    transition: 0.2s ease;
}

a {
    text-decoration: none;
}

:root {
    --indent-default: 16px;

    --h1-font-size: 64px;
    --h2-font-size: 48px;
    --h3-font-size: 44px;
    --h4-font-size: 40px;
    --xxl-font-size: 28px;
    --xl-font-size: 24px;
    --lg-font-size: 20px;
    --md-font-size: 16px;
    --sm-font-size: 14px;

    --black-10: rgb(0, 0, 0, 0.1);

    --header-height: 85px;

    --main-page-color: #f5f7fa;
    --line-color: #E6EFF5;

    --selected-color: #2D60FF;
    --non-selected-color: #B1B1B1;

    --red-color: #ff3838;

    --primary-1-text-color: #343C6A;
}

html {
    font-optical-sizing: auto;
    font-style: normal;
    font-family: "Lato", sans-serif;
    color: #000000;

}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.icon-24 {
    font-size: 24px;
}

@media screen and (max-width: 768px) {

    :root {
        --h1-font-size: 36px;
        --h2-font-size: 32px;
        --h3-font-size: 28px;
        --h4-font-size: 24px;
        --xl-font-size: 20px;
        --lg-font-size: 16px;
        --md-font-size: 14px;
        --sm-font-size: 12px;
    }
}

/* END OF BASE STYLES */

.root-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

aside {
    width: 230px;
}

.custom-modal {
    min-width: 768px;
    width: 80%;
    max-width: 1240px;
}

aside.left {
    position: relative;
}

aside .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--header-height);

    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: var(--h4-font-size);

}

aside .logo a {
    color: var(--selected-color);
}

ul.my-navbar {
    margin-top: 4px;
    padding-left: 0px;
}



ul.my-navbar li a {
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: 30px;
    font-weight: 600;
    color: var(--non-selected-color);
}

ul.my-navbar li a span {
    padding-left: 20px;
    font-size: var(--md-font-size);
    font-weight: 700;
}

ul.my-navbar li a.active {
    margin-left: 0px;
    color: var(--selected-color);
}

ul.my-navbar li a.active::before {
    content: "";
    display: inline-block;
    height: 50px;
    width: 6px;
    margin-right: 24px;
    background-color: var(--selected-color);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#close-nav {
    position: absolute;
    top: 50%;
    left: 100%;

    height: 32px;
    width: 32px;
    transform: translateX(-50%);

    background-color: white;
    border-radius: 50%;
}

#close-nav i {
    display: none;

    border-radius: 20px;

    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
    line-height: normal;
    color: var(--selected-color);
    background-color: none;
}

#close-nav i.active {
    display: inline-block;
}

.root-container>.right {
    flex-grow: 1;
    height: auto;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    border-bottom: 1px solid var(--line-color);
    margin-inline: 20px;
}

header .header-left {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: var(--xxl-font-size);
    color: var(--primary-1-text-color);
}

header .header-right .setting-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #F5F7FA;
    border: 1px solid #dedede;
}

header .header-right .setting-icon:hover {
    border: 1px solid var(--selected-color);
}

header .header-right .setting-icon:active {
    color: white;
    background-color: var(--selected-color);
}

.dropdown .menu {
    position: absolute;
    left: 100%;
    top: 100%;
    width: 140px;
    padding: 10px 0px 10px 0px;
    margin-top: 8px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
    transform: translateX(-100%);
    z-index: 10;
    opacity: 0;
    pointer-events: none;
}

.dropdown .menu .item {
    font-size: var(--md-font-size);
    padding: 10px 15px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    cursor: pointer;
}

.dropdown .menu .item:first-child {
    border-top: 1px solid rgb(0, 0, 0, 0.1);
}

.dropdown .menu .item:hover {
    color: white;
    background-color: var(--selected-color);
}

.dropdown .menu .item.danger:hover {
    color: white;
    background-color: var(--red-color);
}

.active {
    opacity: 1 !important;
    pointer-events: all !important;
}

main {
    min-height: calc(100% - var(--header-height));
    background-color: var(--main-page-color);
}